development:
  adapter: postgresql
  encoding: unicode
  database: carma_development
  pool: 5
  username: USERNAME
  password: PASSWORD

test:
  adapter: postgresql
  encoding: unicode
  database: carma_test
  pool: 5
  username: USERNAME
  password: PASSWORD